div.lq-score{
    display: inline-block;
}
div.lq-score ul,li{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
div.lq-score>ul>li{
    float: left;
    cursor: pointer;
}
div.lq-score>ul:after{
    content: "";
    display: block;
    clear: both;
}